<section class="dose space-y-6 md:hidden">
  <div>
    <img src="/images/home/lifestyle-image-dose.jpg" alt="" />
  </div>

  <div class="container">
    <h2>Find your perfect dose</h2>

    <article class="dose__inner space-y-12">
      <div class="dose__icon">
        <include src="partials/svg/product/_effect-icon.svg"></include>
      </div>

      <div>
        <a href="/products.html">
          <button class="btn-primary">Explore Range</button>
        </a>
      </div>
    </article>
  </div>
</section>
