<section x-data="flavoursGrid" class="flavours">
  <div class="container">
    <h2>Our Flavors</h2>

    <div class="flavours__inner cols-container md:px-1-cols lg:px-0">
      <template x-for="product in products">
        <div class="w-3-cols md:w-1/2-cols lg:w-1/3-cols flavours__card">
          <a href="/single-product.html">
            <div style="--aspect-ratio: (4 / 4)" class="mb-2">
              <div
                class="flavours__card-image"
                :style="'--hover-bg:' + product.hoverColor"
              >
                <img :src="product.image" :alt="product.name" />
              </div>
            </div>
          </a>
          <p class="card-title" x-text="product.name"></p>
        </div>
      </template>

      <!-- *View more button if needed -->
      <!-- <div class="flavours__btn lg:w-1/4-cols">
        <button @click="viewMoreFlavours()" class="btn-primary">
          View More
        </button>
      </div> -->
    </div>
  </div>

  <div
    class="container w-4-cols md:w-5-cols md:px-1-cols lg:px-0 lg:w-3-cols xxl:w-2-cols"
  >
    <a href="/products.html">
      <button class="btn-primary">View all</button>
    </a>
  </div>
</section>
