<section class="hero">
  <div class="hero__image">
    <img
      src="/images/home/1165_gBiNz7_rivera-allbirds-fall-2018-25 (1).jpg"
      alt=""
      class=""
    />

    <div class="hero__wrapper">
      <article class="hero__product-image">
        <img src="/Mints/Breez-Mints-Cinnamon1-1.png" alt="" />
      </article>

      <article class="hero__title">
        <div class="strapline">
          <include src="partials/svg/brand/_brand-strapline.svg"></include>
        </div>
        <!-- <div>
          <include src="partials/svg/brand/_brand-strap-arrow.svg"></include>
        </div> -->

        <a href="/products.html">
          <button class="btn-secondary">Shop Now</button>
        </a>
      </article>
    </div>
  </div>

  <div class="container md:px-1-cols">
    <a href="/products.html">
      <button class="btn-secondary hero__btn">Shop Now</button>
    </a>
  </div>
</section>
