@mixin lhCrop($line-height) {
  &:after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    margin-bottom: calc((1 - #{$line-height}) * 0.5em);
  }
}

.f-display-xlg {
  @include lhCrop(0.55);
}

.f-display {
  @include lhCrop(0.6);
}

.f-display-sm {
  @include lhCrop(0.56);
}

.f-display-xsm {
  @include lhCrop(0.55);
}

.f-body-lg {
  @include lhCrop(0.56);
}

.f-body {
  @include lhCrop(0.56);
}

.f-detail {
  @include lhCrop(0.55);
}
