<section class="hero-101">
  <div class="container md:px-1-cols lg:px-0">
    <div class="hero-101__inner py-20 lg:py-40">
      <div class="cols-container">
        <article
          class="hero-101__icon mb-10 w-6-cols md:w-8-cols lg:w-6-cols lg:mb-0"
        >
          <include
            src="partials/svg/cannabis-101/_cannabis-leaf-icon.svg"
          ></include>
        </article>

        <article
          class="hero-101__content w-6-cols md:w-8-cols lg:w-5-cols xxl:w-4-cols"
        >
          <h1>Cannabis 101</h1>
          <p>
            Since 2015, we’ve been on a mission to bring the benefits of
            cannabis to everyone. In a world where cannabis is complicated,
            intimidating, expensive and unreliable, Breez delivers the cannabis
            experience that’s right for you every time. From relief to
            relaxation, sleep to sex, Breez is the guide for all your essential
            cannabis needs.
          </p>

          <a href="#precise-dosing">
            <button class="btn-primary" type="button">Learn</button>
          </a>
        </article>
      </div>
    </div>
  </div>
</section>
