<div class="footer__inner">
  <div class="container">
    <div class="container-reset cols-container lg:pb-20">
      <article class="hidden lg:block lg:w-2-cols">
        <div class="footer__logo-lg">
          <include src="partials/svg/logo/_breez-logo-icon.svg"></include>
        </div>
      </article>

      <article class="md:w-3-cols mb-8 lg:mb-0">
        <h3>Quick Links</h3>

        <nav>
          <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/products.html">Products</a></li>
            <li><a href="/stores.html">Find Us</a></li>
            <li><a href="/faq.html">FAQs</a></li>
            <li><a href="/contact.html">Contact</a></li>
          </ul>
        </nav>
      </article>

      <article class="w-6-cols md:w-4-cols mb-8 lg:mb-0 xxl:w-3-cols">
        <h3>Mailing List</h3>

        <form class="space-y-4 pt-1" action="">
          <div class="c-input">
            <input name="email" type="email" placeholder="Email Address" />

            <div class="send-icon">
              <div>
                <include
                  src="partials/svg/mailing-list/_email-icon-secondary.svg"
                ></include>
              </div>
              <div>
                <include
                  src="partials/svg/mailing-list/_email-icon-secondary.svg"
                ></include>
              </div>
            </div>
          </div>

          <button class="btn-primary" type="submit">Sign up</button>
        </form>
      </article>

      <div class="w-6-cols md:w-3-cols mb-8 lg:mb-0">
        <div class="footer__social">
          <a href="">
            <include src="./partials/svg/social/_instagram.svg"></include>
          </a>
          <a href="">
            <include src="./partials/svg/social/_twitter.svg"></include>
          </a>
        </div>
      </div>
    </div>

    <article class="footer__legal lg:breakout">
      <div class="w-10 lg:hidden">
        <include src="partials/svg/logo/_breez-logo-icon.svg"></include>
      </div>

      <div class="lg:flex lg:container">
        <div class="footer__company-details lg:w-5-cols">
          <div>©Breez 2022</div>
          <div>CA # C12-0000192-LIC</div>
        </div>

        <div class="lg:w-7-cols">
          <a href="">Privacy Policy • </a>
          <a href="">Cookie Policy</a>
        </div>
      </div>
    </article>
  </div>
</div>
