<section class="mailing-list">
  <div class="mailing-list__inner lg:container cols-container">
    <div
      class="mailing-list__image-top w-4-cols ml-2-cols mb-16 md:mb-20 md:ml-0 lg:mb-0 lg:ratio lg:ratio-1x1 lg:w-5-cols overflow-hidden"
    >
      <img src="/images/global/mailing-list-image-top.jpg" alt="" />
    </div>

    <div
      class="mailing-list__image-bottom w-4-cols -ml-2-cols mt-16 md:mt-20 lg:mt-0 md:-ml-0 lg:ratio lg:ratio-1x1 lg:w-5-cols lg:ml-2-cols"
    >
      <img src="/images/global/mailing-list-image-bottom.jpg" alt="" />
    </div>

    <!-- content box -->
    <article class="mailing-list__content">
      <div class="content__inner">
        <h3>Unlock your day with full-spectrum cannabis</h3>

        <form class="space-y-4 lg:px-4" action="">
          <div class="c-input">
            <input name="email" type="email" placeholder="Email Address" />

            <div class="send-icon">
              <div>
                <include
                  src="partials/svg/mailing-list/_email-icon-secondary.svg"
                ></include>
              </div>
              <div>
                <include
                  src="partials/svg/mailing-list/_email-icon-secondary.svg"
                ></include>
              </div>
            </div>
          </div>

          <button class="btn-secondary" type="submit">Sign up</button>
        </form>
      </div>
    </article>
  </div>
</section>
