<section
  x-data="testimonialSwiper"
  class="c-testimonial overflow-hidden py-20 lg:py-40"
>
  <div class="container md:px-1-cols lg:px-0">
    <div class="c-testimonial__header">
      <h2 class="c-testimonial__title">Hear it From Our Fans.</h2>

      <article class="c-testimonial__icon">
        <include src="partials/svg/testimonial/_speaker.svg"></include>
      </article>

      <article class="c-testimonial__nav">
        <button class="swiper-button-prev">
          <include src="partials/svg/product/_swiper-btn-prev.svg"></include>
        </button>
        <button class="swiper-button-next">
          <include src="partials/svg/product/_swiper-btn-next.svg"></include>
        </button>
      </article>
    </div>

    <!-- Slider main container -->
    <article class="c-testimonial-swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="swiper__inner">
            <p>
              Recently I have been looking for alternatives to flowers. This
              beautiful product by @findbreez has been my absolute favorite so
              far! Allowing you to find your favorite minty freeze experience
              with ease. As someone with a long history in partaking of wondrous
              wonders many edible options simply don’t do the trick. This little
              beauty is a game changer!”
            </p>
            <span class="text-primary block f-display-xsm"
              >@emblazonedgourmet</span
            >
            <span class="f-display-xsm">1/24/22 - Instagram</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper__inner">
            <p>
              Recently I have been looking for alternatives to flowers. This
              beautiful product by @findbreez has been my absolute favorite so
              far! Allowing you to find your favorite minty freeze experience
              with ease. As someone with a long history in partaking of wondrous
              wonders many edible options simply don’t do the trick. This little
              beauty is a game changer!” Allowing you to find your favorite
              minty freeze experience with ease. As someone with a long history
              in partaking of wondrous wonders many edible options simply don’t
              do the trick. This little beauty is a game changer!”
            </p>
            <span class="text-primary block f-display-xsm"
              >@emblazonedgourmet</span
            >
            <span class="f-display-xsm">1/24/22 - Instagram</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper__inner">
            <p>
              Recently I have been looking for alternatives to flowers. This
              beautiful product by @findbreez has been my absolute favorite so
              far! Allowing you to find your favorite minty freeze experience
              with ease. As someone with a long history in partaking of wondrous
              wonders many edible options simply don’t do the trick. This little
              beauty is a game changer!”
            </p>
            <span class="text-primary block f-display-xsm"
              >@emblazonedgourmet</span
            >
            <span class="f-display-xsm">1/24/22 - Instagram</span>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
