<!-- TAILWIND GRID OVERLAY -->
<div class="grid-toggles | fixed left-0 bottom-0 cursor-pointer z-50 uppercase">
    <span></span>
    <div
        class="grid-toggle | p-4 bg-primary-darker text-white"
        onClick="document.querySelector('body').classList.toggle('has-grid-active');"
        title="Toggle Grid Columns"
    >
        <svg
            width="10"
            height="10"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class=""
        >
            <path d="M4 0V40" stroke="currentColor" stroke-width="7.4" />
            <path d="M20 0V40" stroke="currentColor" stroke-width="7.4" />
            <path d="M36 0V40" stroke="currentColor" stroke-width="7.4" />
        </svg>
    </div>
</div>
<!-- END TAILWIND GRID OVERLAY -->
