<section class="faq-cta">
  <div class="bg-primary w-full h-64 absolute -z-10 lg:hidden"></div>
  <div class="container md:px-1-cols lg:px-0">
    <div class="faq-cta__inner space-y-6">
      <div class="cols-container items-center">
        <div class="faq-cta__image w-6-cols md:w-8-cols lg:w-4-cols">
          <img src="/images/global/mailing-list-image-bottom.jpg" alt="" />
        </div>

        <div class="faq-cta__content md:w-5-cols lg:ml-1-cols xxl:w-4-cols">
          <h3>
            Looking for <br />
            something else?
          </h3>
          <p class="pb-4">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
            hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque,
            aliquet vel, dapibus id, mattis vel.
          </p>

          <a href="/contact.html">
            <button type="button" class="btn-primary">Contact us</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
