<section class="c-hero">
  <div class="lg:container">
    <div class="c-hero__inner">
      <article class="hidden lg:block lg:w-5-cols">
        <h1>FAQs</h1>
        <p>
          Got a question for us? Here are the answers to the ones we get a lot.
        </p>
      </article>

      <article class="relative lg:w-7-cols">
        <div class="c-hero__image">
          <img
            src="/images/contact/f7a7fc225c1f8939ad862e24380f36bc.jpg"
            alt=""
          />

          <div class="c-hero__header">
            <include src="partials/svg/faq/_header-text.svg"></include>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
