header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  @apply bg-white;
  @apply z-50;

  .c-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    position: relative;

    .c-header__menu {
      div {
        width: 26px;
        height: 2px;
        background-color: theme("colors.shade-black");

        &:nth-child(2) {
          @apply my-1;
        }
      }
    }

    // site logo
    .c-header__logo {
      @apply z-50;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @screen lg {
        @apply z-0;
      }
    }

    // cart link
    .c-header__cart {
      @apply z-50;

      @screen lg {
        @apply z-0;
      }

      .c-header__cart-mobile {
        @apply z-50;
      }
    }
  }

  // site menu
  .c-menu {
    position: absolute;
    top: 0;
    left: 0;
    @apply bg-primary;
    width: 100vw;
    height: 100vh;

    .c-menu__inner {
      height: 100%;
      position: relative;

      @screen lg {
        display: flex;
      }

      // close button
      .c-menu__close {
        position: absolute;
        top: 26px;
        left: var(--outer-gutter);
        @apply flex items-center;

        @screen xxl {
          left: theme("spacing.24");
        }
      }

      .c-menu__nav-wrapper {
        height: 100%;

        @screen lg {
          @apply flex items-center;
          width: 50vw;
        }

        // nav links
        .c-menu__nav {
          @apply f-display-lg;

          a {
            opacity: 0.9;
            transition: opacity 0.3s ease-in-out;

            &:hover {
              opacity: 1;
            }
          }

          @screen lg {
            flex: 1;
          }
        }
      }

      // Menu image on link hover on desktop
      .c-menu__image {
        @apply hidden;

        @screen lg {
          display: block;
          width: 50vw;
          height: 100vh;
          position: relative;
        }

        .image-inside {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
