<section class="contact-details">
  <div class="container md:px-1-cols lg:px-0">
    <div class="contact-details__inner">
      <div class="lg:flex lg:flex-col lg-col">
        <!-- Delivery Orders  -->
        <article class="contact-details__group lg:flex-1">
          <div class="group__icon">
            <include src="partials/svg/contact/_orders-icon.svg"></include>
          </div>

          <div class="group__details">
            <h4>Delivery Orders</h4>
            <h4>833-MY-BREEZ</h4>
            <h4>delivery@findbreez.com</h4>
          </div>
        </article>

        <!-- Wholesale orders -->

        <article class="contact-details__group lg:flex-1">
          <div class="group__icon">
            <include src="partials/svg/contact/_enquiries-icon.svg"></include>
          </div>

          <div class="group__details">
            <h4>Wholesale Orders</h4>
            <h4>Are you a retailer?</h4>
            <h4>wholesale@findbreez.com</h4>
          </div>
        </article>
      </div>

      <!-- <div class="lg:w-4-cols"> -->
      <div class="lg:flex lg:flex-col lg:ml-16 lg-col">
        <!-- General enquiries -->
        <article
          class="contact-details__group lg:flex-1 lg:border-l lg:border-l-primary"
        >
          <div class="lg:ml-1/4-cols xl:ml-1/2-cols">
            <div class="group__icon">
              <include src="partials/svg/contact/_enquiries-icon.svg"></include>
            </div>

            <div class="group__details">
              <h4>General Enquiries</h4>
              <h4>info@findbreez.com</h4>
            </div>
          </div>
        </article>

        <!-- Press enquiries -->
        <article
          class="contact-details__group lg:flex-1 lg:border-l lg:border-l-primary"
        >
          <div class="lg:ml-1/4-cols xl:ml-1/2-cols">
            <div class="group__icon">
              <include
                src="partials/svg/contact/_press_enquiries.svg"
              ></include>
            </div>

            <div class="group__details">
              <h4>Press Enquiries</h4>
              <h4>press@findbreez.com</h4>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
