<section class="c-hero">
  <div class="lg:container">
    <div class="c-hero__inner">
      <article class="hidden lg:block lg:w-5-cols">
        <h1>Contact</h1>
        <p class="max-w-md">
          Get in touch using the details below and we'll be happy to help.
        </p>
      </article>

      <article class="relative lg:w-7-cols">
        <div class="c-hero__image">
          <img
            src="/images/contact/f7a7fc225c1f8939ad862e24380f36bc.jpg"
            alt=""
          />

          <div class="c-hero__header">
            <include src="partials/svg/contact/_hero-text.svg"></include>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
