<section class="c-payment-summary">
<div class="container mb-4 lg:px-3-cols">
  <h3 class="f-body-lg mt-8 mb-4">Total Taxes & Fees</h3>
      <section
        class="bg-shade-grey-100 py-4 mb-4 breakout lg:breakout-reset lg:bg-white"
      >
        <div class="container">
          <div class="flex justify-between">
            <p class="f-display font-normal">Subtotal</p>
            <p class="f-display font-normal">$112</p>
          </div>
          <!-- <div class="flex justify-between">
        <p class="f-display">Delivery</p>
        <p class="f-display">Free</p>
      </div> -->
        </div>
      </section>

      <div class="flex justify-between">
        <p class="f-body">Discounts</p>
        <p class="f-body font-bold">X%</p>
      </div>
      <div class="flex justify-between">
        <p class="f-body">State Cannabis Excise Tax</p>
        <p class="f-body font-bold">$12</p>
      </div>
      <div class="flex justify-between">
        <p class="f-body">Delivery Fee</p>
        <p class="f-body font-bold">X%</p>
      </div>
      <div class="flex justify-between">
        <p class="f-body">Local Cannabis Business Fees</p>
        <p class="f-body font-bold">X%</p>
      </div>
      <div class="flex justify-between">
        <p class="f-body">Local Sales Tax</p>
        <p class="f-body font-bold">X%</p>
      </div>
    </div>
  </section>
  </div>

  <section class="bg-shade-grey-200 py-6">
    <article class="container lg:px-3-cols wysiwyg">
      <strong>
        You must be 21+ to order.<br />
        Please have your valid ID ready.
      </strong>
      <p>We do not accept Cash App, Paypal, or Venmo. Delivery drivers are not allowed to exit their vehicles for safety and compliance reasons. Please approach the driver's passenger window. Thank you.</p>
    </article>
  </section>

  <div class="container lg:px-3-cols">
    <div class="flex justify-between mt-12 mb-10">
      <p class="f-display font-normal">Total</p>
      <p class="f-display font-normal">$150</p>
    </div>

    <a href="#!" class="btn-primary block text-center">Buy</a>
  </div>

</section>
