<section class="c-payment-summary">
  <section class="pt-8 pb-12">
    <div class="container">
      <h3 class="f-body-lg mb-4">Total Taxes & Fees</h3>
      <section
        class="bg-shade-grey-100 py-4 mb-4 breakout lg:breakout-reset lg:bg-white"
      >
        <div class="container">
          <div class="flex justify-between">
            <p class="f-display font-normal">Subtotal</p>
            <p class="f-display font-normal">$112</p>
          </div>
          <!-- <div class="flex justify-between">
        <p class="f-display">Delivery</p>
        <p class="f-display">Free</p>
      </div> -->
        </div>
      </section>

      <div class="flex justify-between">
        <p class="f-body">Discounts</p>
        <p class="f-body font-bold">X%</p>
      </div>
      <div class="flex justify-between">
        <p class="f-body">State Cannabis Excise Tax</p>
        <p class="f-body font-bold">$12</p>
      </div>
      <div class="flex justify-between">
        <p class="f-body">Delivery Fee</p>
        <p class="f-body font-bold">X%</p>
      </div>
      <div class="flex justify-between">
        <p class="f-body">Local Cannabis Business Fees</p>
        <p class="f-body font-bold">X%</p>
      </div>
      <div class="flex justify-between">
        <p class="f-body">Local Sales Tax</p>
        <p class="f-body font-bold">X%</p>
      </div>
    </div>
  </section>

  <div class="container mb-10 lg:mb-0">
    <a href="/payment.html" class="btn-primary block text-center">To Payment</a>
  </div>
</section>
