<section class="c-product-details bg-shade-grey-100 pt-4 lg:py-20">
  <div class="container md:px-1-cols lg:px-0 xxl:w-7-cols">
    <article>
      <h3 class="f-display h-underline-headline">Recommended Dose</h3>
      <div class="w-2/3-cols">
        <p>Wait 1-2 hours for full effect - May last up to 8 hours.</p>
      </div>
      <div class="space-y-12 my-10 px-10 md:px-1-cols">
        <article class="w-8/12 mx-auto">
          <include
            src="./partials/svg/product/_recomended-dose-icon.svg"
          ></include>
        </article>
        <article>
          <include src="./partials/svg/product/_effect-icon.svg"></include>
        </article>
      </div>
    </article>
  </div>
</section>

<section class="c-product-details bg-shade-grey-100 lg:bg-white pt-14 pb-6">
  <article class="container md:px-1-cols lg:px-0 xxl:w-8-cols">
    <h3 class="f-display h-underline-headline">Ingredients</h3>
    <div class="space-y-4">
      <p class="f-body-lg">
        Made with 100% natural ingredients and effects-enhancing terpenes.
      </p>
      <p class="f-body">
        Rice Flour, Arrowroot, Full-Spectrum Cannabis Extract, Gum Arabic,
        Coconut MCT Oil, Natural Terpene Blend, Beeswax, Citric Acid, Carnauba
        Wax, &#60;1 MG Gelatin
      </p>
    </div>
  </article>
</section>
