<section class="story mb-20 lg:mb-40">
  <div class="container md:px-1-cols lg:px-0">
    <div class="cols-container">
      <article
        class="text-center w-6-cols md:w-8-cols lg:w-5-cols lg:ml-1-cols lg:text-left"
      >
        <h2>Our Story</h2>
        <p>
          We founded Breez in 2015 when my grandfather Leon was struggling with
          the side-effects of extremely aggressive cancer treatment. I spent
          weeks trying to convince him to try cannabis for relief but no matter
          what study, article, or statistic I shared, he refused. On the last
          night of my visit, he finally told me, “I know you’re right. I know it
          would help me. But I just can’t do it.” I left heartbroken and
          frustrated but with a new determination to overcome the barriers
          between people like my grandfather and the benefits of cannabis. I
          called my partner Anna from the road home and that’s when Breez was
          born. We realized that in order to overcome the stigma and
          misunderstandings leftover from prohibition, we needed to create
          cannabis products that are simple, reliable and above all accessible.
          That’s the spirit that guides everything we do as a company. Although
          my grandfather passed away before we could share Breez with him, his
          inspiration lives on every time we hear a story from someone about how
          Breez has been a bridge to the benefits of cannabis for them, a
          friend, or a loved one.
        </p>
        <span class="text-primary f-display-xsm"
          >— Austin and Anna, Co-Founders</span
        >
      </article>

      <article class="story__icon w-6-cols mb-20 lg:mb-0">
        <include
          src="partials/svg/cannabis-101/_cannabis-leaf-icon.svg"
        ></include>
      </article>
    </div>
  </div>
</section>
