.c-filter-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  @apply bg-primary bg-opacity-60;
  display: flex;
  align-items: center;

  .c-filter-modal__inner {
    position: relative;
    @apply bg-white;
    @apply rounded-xl;
    @apply p-6;
    width: 100%;
    max-width: 500px;
    @apply mx-auto;

    .modal__close {
      position: absolute;
      top: 6px;
      right: 8px;
    }

    section {
      margin: 0;
    }

    .c-filter-modal__title {
      @apply f-display;
      font-size: 38px;
      margin-bottom: 10px;
    }

    h3 {
      @apply f-display;
      font-weight: 500;
      font-size: 20px;
      line-height: 15px;
      @apply mb-8;
    }

    h4 {
      @apply f-display-sm;
      font-weight: 500;
      font-size: 14px;
      line-height: 15px;
      @apply mb-2;
    }

    .checkbox__container {
      @apply mr-3;

      label {
        position: relative;
        overflow: hidden;
        color: black;
        cursor: pointer;

        span {
          @apply f-display-sm;
          font-weight: 700;
          font-size: 14px;
          line-height: 15px;
          @apply mb-0;
        }
      }

      input {
        position: absolute;
        top: -50px;

        &:checked + div {
          @apply bg-primary;

          span {
            &:last-child {
              color: black;
            }
          }
        }
      }

      div {
        width: 100%;
        @apply rounded-full;
        @apply py-2 px-4;
        @apply mb-2;
        @apply text-left;
        @apply flex items-center justify-center;
        background: theme("colors.shade-grey-500");
        overflow: auto;

        span {
          display: block;
          @apply font-medium;

          &:last-child {
            color: black;
          }
        }
      }
    }
  }
}
